In [48]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="dkte123",
  database="database"
)
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('database',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [30]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('department',)
('employees',)

In [29]:
mycursor.execute("CREATE TABLE Department (Dept_ID INT AUTO_INCREMENT PRIMARY KEY, D_name VARCHAR(255), D_head VARCHAR(50))")
mydb.commit()

In [34]:
mycursor.execute("""INSERT INTO EMPLOYEES(emp_no,FIRST_NAME, LAST_NAME) 
   VALUES (422022,'Mac', 'Mohan')""")

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [46]:
mycursor.execute("SELECT * FROM EMPLOYEES")

myresult = mycursor.fetchone()

print(myresult)

(12022, 'Shivani', 'Patil', 'Project Management', 'Project Manager', 45000, datetime.date(1985, 12, 21), 'F', datetime.date(2022, 6, 1))

In [43]:
mycursor.execute("SELECT * FROM employees")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(12022, 'Shivani', 'Patil', 'Project Management', 'Project Manager', 45000, datetime.date(1985, 12, 21), 'F', datetime.date(2022, 6, 1))
(412022, 'Shiv', 'Shinde', 'Product Development', 'Technical Lead', 75000, datetime.date(1986, 5, 25), 'M', datetime.date(2022, 6, 13))
(422022, 'Mac', 'Mohan', None, None, None, None, None, None)

In [44]:
mycursor.execute("SELECT * FROM EMPLOYEES WHERE Dept ='Project Management'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(12022, 'Shivani', 'Patil', 'Project Management', 'Project Manager', 45000, datetime.date(1985, 12, 21), 'F', datetime.date(2022, 6, 1))

In [51]:
mycursor.execute("DELETE FROM employees WHERE first_name = 'Mac'")

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted